<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask+Sqlite3</title>
</head>

<body>
    <center>
        <h1>Flask+Sqlite3 Registration</h1>
    </center>
    <center>
        <form method="POST" action="{{ url_for('register') }}">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Register</button>
        </form>
    </center>
    <center>
        <h1>Have an account ?</h1> <a href="{{ url_for('login') }}"> Login</a>

    </center>

</body>

</html>